.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--purple);
  width: auto;
  height: 50vh;
}
.wrapper > ul {
  color: rgba(var(--blueO), 0.5);
  margin: 0 10px 10px 0;
}
.lower {
  color: rgba(var(--purpleO), 0.5);
  transition: color 0.5s ease;
}

.lower:hover {
  color: var(--yellow);
}
