.wrapper {
  display: flex;
  flex-direction: column; /* switches flex components*/
  justify-content: flex-start; /* top/bottom */
  align-items: center; /* left/right */
  color: var(--purple);
  width: auto;
  height: 50vh;
}
.lower {
  color: var(--purple05);
}
