:root {
  --red: #e61c5d;
  --blue: #3a0088;
  --purple: #930077;
  --yellow: #ffe98a;
  --pink: #f1a2c8;

  --gradient1: linear-gradient(#e61c5d #ffffff);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
.rewrap {
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.canvas {
  position: fixed;
  inset: 0;
  background: hsl(0, 0%, 15%);
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
