:root {
  --red: #e61c5d;
  --blue: #3a0088;
  --purple: #824179;
  --yellow: #ffe98a;
  --pink: #f1a2c8;

  --gradientRW: linear-gradient(var(--red), white);
  --gradientRP: linear-gradient(var(--red), var(--blue));

  --headerHeight: 5rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
