.section1 {
  height: 200vh;
  background: var(--gradientRP);
}
.wrapperTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 50px;
}
@media (width < 800px) {
  .wrapperTitle {
    flex-direction: column;
  }
  .imageTitle {
    margin-top: 17px;
  }
}

.h1Title {
  font-weight: 900;
  display: block;
}
.h2Title {
  font-weight: 800;
}
@media (screen < 780px) {
  .imageWrapper {
    position: static;
    display: block;
  }
  .textWrapper {
    position: static;
    display: block;
  }
}
.imageTitle {
  width: 30vw;
  height: auto;
}
