.section1 {
  background: var(--gradientIndex);
}
.TitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapperTitle {
  display: flex;
  flex-direction: column;
  margin-right: clamp(10px, 10vw, 100px);
}
@media (width < 800px) {
  .TitleWrapper {
    flex-direction: column;
  }
  .imageTitle {
    margin-top: 17px;
  }
}

.h1Title {
  font-weight: 900;
  display: block;
}
.h2Title {
  font-weight: 800;
}
.imageTitle {
  width: clamp(230px, 30vw, 400px);
  height: auto;
}
