.section1 {
  height: 200vh;
  background: var(--gradientRP);
}
.wrapperTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (width < 800px) {
  .wrapperTitle {
    flex-direction: column;
  }
}

.h1Title {
  font-weight: 900;
}
.h2Title {
  font-weight: 800;
}
.imageTitle {
  width: 30vw;
  height: auto;
}
